{{- if not ($.Page.Scratch.Get "tooltipcount") -}}
<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline;
        /* border-bottom: 1px dotted black; */
        cursor: default;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: rgba(64, 89, 188, 0.9);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .tooltip .tooltiptext {
        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

{{- end -}}

{{- $.Page.Scratch.Add "tooltipcount" 1 -}}

<div class="tooltip">
    {{if eq (.Get 1) "google" }}
    <a href="https://translate.google.com/?sl=vi&tl=en&text={{- trim (.Inner | safeHTML) "\n\t " -}}" target="_blank">
        {{- .Inner | safeHTML -}}
    </a>
    {{else if eq (.Get 1) "wiktionary_preserve_case" }}
    <a href="https://en.wiktionary.org/wiki/{{- trim (.Inner | safeHTML) "\n\t " -}}#Vietnamese" target="_blank">
        {{- .Inner | safeHTML -}}
    </a>
    {{else}}
    <a href="https://en.wiktionary.org/wiki/{{- trim (.Inner | safeHTML | lower) "\n\t " -}}#Vietnamese" target="_blank">
        {{- .Inner | safeHTML -}}
    </a>
    {{end}}
    <span class="tooltiptext">
        {{- .Get 0 | safeHTML }}
    </span>
</div>
